body {
    background: #ffffff;
}

.postit {
    position: relative;
    background: #e3e3e3;
    width: 600px;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border-radius: 4px;
    border-style: solid;
    border-color: DarkBlue;
}

.postit ul {
    padding-left: 0;
    margin-top: 1.5rem;
}

.postit li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 18px;
}

.line {
    border: none;
    border-bottom: 2px solid DarkBlue;
    margin: 0.5rem 0 0.75rem 0;
}

.empty-message {
    margin-top: 3rem;
    text-align: center;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-bottom: 0.25rem solid DarkBlue;
    background: transparent;
    font-size: 18px;
}